* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

ul {
    font-size: 24px;
    text-align: center;
}

hr {
    margin-bottom: 40px;
}

.recipe {
    padding: 8px;
    border: 8px dotted red;
    margin-left: 20px;
    display: inline-block;
}